/*

    Todo:
        - Test on mobile and make it look nice:
            - Make sure text, input, button, etc. big enough and easy to read without zooming, etc.
            - What's the best way to achieve this?
        - Change ::marker stuff for another approach, probably:
            - How accessible is it? (Consider a screen-reader: it should be completely clear which validation points the user input meets, and which do not.)
            - According to MDN, Safari isn't so great with these yet?

        - Low priority:
            - Tweak various styles so they just look a bit better? :)


        Notes:
            - Not being able to nest comments is still quite painful. ;)
            - Use rem instead of em.

*/


/* Declare some variables: */
:root {
    --fail-colour: orangered; /* hsl(16, 100%, 50%) */
    --pass-colour: greenyellow; /* hsl(84, 100%, 59%) */
    --fail-colour-fade: hsl(16, 100%, 76%);
    --pass-colour-fade: hsl(84, 100%, 76%);
    --neutral-colour: lightgrey; /* hsl(0, 0%, 83%) */
    --neutral-colour-text: hsl(0, 0%, 53%);
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

/* html { */
    /* height: 100%; */ /* For the gradient background, IIRC. */
/* } */


body {
    /* 
    background: rgb(246,211,255);
    background: linear-gradient(0deg, rgba(191,191,191,1) 0%, rgba(246,211,255,1) 100%);
    */
    /* not necessary? (could do more compatibility testing) */
    /*
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
    /*
    height: 100%;
    margin: 1em;
    padding: 0;
    */
    background-color: ghostwhite;
    margin: 2rem 1rem;
}


/* Testing bits: */
/*
#everything {
    background-color: lightskyblue;
}

#form {
    background-color: lightseagreen;
}

#label {
    background-color: lightgreen;
}

#valid {
    background-color: lightpink;
}

#reasons {
    background-color: lightsteelblue;
}
*/
/* End of testing bit. */



#everything {
    margin: 0 auto;
    max-width: 30rem;
}


/* Mobile bits: */

@media screen and (max-width: 1080px) {

    /*
    #everything {
        margin: 0;
        width: 100%;
    }
    */

}

/* End of mobile bits. */


#label {
    display: block;
    font-size: 1.8rem;
    /* font-style: italic; */
    font-weight: bold;
    /* margin-top: 1em; */
    text-align: center;
}

#input, #submit {
    margin: 1.5rem auto 0 auto;
}

#input {
    display: block;
    /* font-family: Consolas, monospace; */
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

#submit {
    /* background-color: hsl(220, 100%, 50%); */
    /* border: 1px solid #000; */
    /* color: whitesmoke; */
    display: block;
    /* font-family: Consolas, monospace; */
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 2.5rem;
    /* text-transform: uppercase; */
}

/*
#submit:hover {
    background-color: hsl(240, 100%, 30%);
}
*/

#valid {
    margin: 1.5rem auto 0 auto;
}

#valid * {
    margin: 0 auto;
}

#valid h2 {
    margin-top: 3rem;
    width: max-content;
}

#answer {
    border-radius: 50%;
    height: 10rem;
    margin-top: 0.75rem;
    text-align: center;
    width: 10rem;
    /* A dangerous tactic for getting the text in the vertical centre! */
    line-height: 10rem;
    overflow: hidden; /* Shouldn't be necessary, but.. y'know. */
}

#answer span {
    font-size: 1.5rem;
    font-weight: bold;
}

.neutral #answer span {
    color: var(--neutral-colour-text);
    font-size: 1rem;
    font-weight: normal;
}

.neutral #answer {
    background-color: var(--neutral-colour);
}

.pass #answer {
    background-color: var(--pass-colour);
}

.fail #answer {
    background-color: var(--fail-colour);
    color: white;
}

#reasons {
    list-style-type: none;
    margin-top: 1rem;
    padding-left: 0;
    max-width: max-content;
}

#reasons li {
    background-color: var(--neutral-colour);
    border-radius: 0.5rem;
    /* border: 1px solid grey; */
    font-size: 1.25rem;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    vertical-align: top;
}

#reasons li.pass {
    background-color: var(--pass-colour-fade);
}

#reasons li.fail {
    background-color: var(--fail-colour-fade);
}

/* Deprecated ::marker stuff. */

/* \2192 = → */
/*
#reasons li::marker {
    content: "\2192";
    font-weight: bold;
}
*/

/*
#reasons li.pass::marker, #reasons li.fail::marker {
    font-size: 2em;
}
*/

/* \2713 = ✔ */
/*
#reasons li.pass::marker {
    color: var(--pass-colour);
    content: "\2713";
}
*/

/* \2717 = ✗ */
/*
#reasons li.fail::marker {
    color: var(--fail-colour);
    content: "\2717";
}
*/

/* End of deprecated ::marker stuff. */